html,
body {
    height: 100%;
    background: url(/assets/Epitychía.png);
    background-size:cover;
    position:relative;
}
.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.login-form{
    width: 380px;
    height: 450px;
    padding: 20px;
    background-color:#06a7a4 !important;
    border-radius: 10px !important;
}
input[type="email"],
input[type="password"] {
    background-color:#06a7a4;
    color: #06a7a4;
    border: 2px solid #fff;
    border radius: 10px;
    margin-bottom: 25px;
}
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    background:#f6f9f9;
    color:#06a7a4;
    margin:0;
}
.card-title{
    font-weight: 900;
    padding-top: 20px;
}
.btn{
    background:#fff !important;
    color:#06a7a4 !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
}
.h1 {
    color :#06a7a4
}